<html lang="en">
  <body>
    <%- include('./partials/head.ejs')%> <%- include('./partials/nav.ejs')%>
    <div class="body-container min-vh-100 border-transparent">
      <div class="container masulinity-container my-3 py-5">
        <h1 class="display-3 my-5">Positive Male Masculinity</h1>
        <hr class="w-100" />
        <br /><%=data[1].title%> <% for(var i=0; i < data.length; i++) { %>

        <p><%= data[i].title %></p>
        <p><%= data[i].snippet %></p>
        <% } %>
        <p class="lead">
          Masculinity has been perverted in the male teaching space for years.
          Many weak men are touted as strong men while their morals are
          compromised and their toxic masculinity oozes from them like pus from
          an infection. Often women are touted as the enemy and even adversary,
          when this is not the case. There is no red pill bullshit here or pick
          up artist non sense. Just reality, and a blueprint to better yourself
          without getting me too'ed or alienating those around you with red pill
          nonsense that is preached by many in the male self improvement space.
        </p>
        <p class="lead">
          The main focus in this space is to teach men and especially boys how
          to me masculine and to reflect and improve consistently; without being
          some weird incel that hates women. There is not political nonsense or
          dogmatic teachings to be found here. Only science and facts will
          prevail in this space. Should you find something that is incorrect
          here or that you think you can improve please get in touch. We highly
          encourage discourse; unless you are trying to sell your slant on
          religion or politics. In that case, please refrain from ever
          contacting us.
        </p>
      </div>
      <!-- Health Wealth and Wisdom cards -->

      <!-- Row -->
      <div class="hww-container row my-5 py-5">
        <h2 class="ms-5 my-5 py-5">Read the Blog</h2>

        <!-- Health Card -->
        <div class="hww-card d-grid gap-2 text-center col">
          <h3>Health</h3>
          <p class="lead my-3">All things health.</p>
          <p>Food || Fitness || Iron</p>
          <i class="fas fa-heartbeat fa-7x my-3"></i>
          <a href="/health" class="btn btn-primary rounded w-50 m-auto"
            >Health</a
          >
        </div>

        <!-- Wealth Card -->
        <div class="hww-card d-grid gap-2 text-center col">
          <h3>Wealth</h3>
          <p class="lead my-3">All things wealth.</p>
          <p>Career || Incomes || Investment</p>
          <i class="fas fa-money-bill-alt fa-7x my-3"></i>
          <a href="/health" class="btn btn-primary rounded w-50 m-auto"
            >Wealth</a
          >
        </div>

        <!-- Wisdom Card -->
        <div class="hww-card d-grid gap-2 text-center col">
          <h3>Wisdom</h3>
          <p class="lead my-3">All things wisdom.</p>
          <p>Knowledge || Leadership || Self</p>
          <i class="fas fa-book-dead fa-7x my-3"></i>
          <a href="/wisdom" class="btn btn-primary rounded w-50 m-auto"
            >Wisdom</a
          >
        </div>
      </div>
      <!-- end cards -->
      <div class="container-fluid py-2 gx-5">
        <p class="lead my-5">
          The main tenets of what it takes can be broken down to an almost
          infinite amount of subjects that would lead to confusion and lost
          progression. Instead we will break it down to three core subjects with
          an almost infinite range of subjects that can be dissected trough the
          lends of these three tenets of self improvement.
        </p>
        <hr class="w-100 mb-3" />
      </div>
      <!-- end body container -->
    </div>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
